header {
  width: 100%;
  height: 90px;
  /* background: pink; */
}

/* 유틸 */
.util {
  width: 1100px;
  height: 15px;
  margin: 10px auto 10px;
  /* background: skyblue; */
}

.util .utilMenu {
  float: right;
}

.util .utilMenu li {
  float: left;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  color: var(--color-navy);
  font-size: var(--font-small);
}

.util .utilMenu li:last-child {
  border: none;
}

.util .utilMenu li:hover {
  font-weight: bold;
}

/* 메뉴 */
.header_head {
  width: 100%;
}

.header_in {
  width: 1100px;
  height: 60px;
  margin: 0 auto;
  /* background: darkgray; */
}

.header_in .logo {
  float: left;
  margin-top: 10px;
  font-size: var(--font-medium);
}

.logo i,
a {
  float: left;
  color: var(--color-navy);
}

.logo a {
  padding-left: 10px;
}

.header_in .menu {
  float: right;
}

.header_in .menu li {
  float: left;
}

.header_in .menu li a {
  display: block;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: var(--color-navy);
  font-size: 22px;
}

.header_in .menu li a:hover {
  background: var(--color-navy);
  color: var(--color-white);
  border-radius: 10%;
}

/* 배경 */
#main_bg {
  background: url(../image/backbg.png) center/cover no-repeat;
  padding: 30px;
  text-align: center;
}

.bg {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
}

.bg .bg_icon_go {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.hobby {
  width: 1100px;
  height: 250px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.hobby_icon {
  width: 180px;
  height: 180px;
  line-height: 180px;
  font-size: 90px;
  color: var(--color-light-white);
  border: 1px solid var(--color-light-white);
  border-radius: 50%;
  margin-bottom: 18px;
}

.hobby_icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.hobby_description,
.hobby_title {
  color: var(--color-light-white);
}

.hobby_title {
  font-size: var(--font-medium);
}

.hobby_description {
  font-size: var(--font-small);
}
